* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h3,
div.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

div.image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

div.image img {
  border-radius: 50%;
  border: 3px solid #000;
}

div.btn button {
  background: #222;
  color: #fff;
  border: none;
  border-radius: 2px;
  padding: 10px 20px;
  cursor: pointer;
}
