* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}

h1,
h3,
div.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

div.image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

img {
  border-radius: 50%;
  border: 3px solid #333;
}

button {
  background: #333;
  color: rgb(216, 214, 214);
  border: none;
  border-radius: 2px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
}

.male {
  border-color: steelblue;
  background: steelblue;
}

.female {
  border-color: pink;
  background: pink;
  color: #333;
}
